.container-navbar {
    background-color: #9a3616;
    margin-bottom: 20px;
}

.tableHeader {
    background-color: #9a3616;
}

.tablehead {
    color: white;
}

#assignWs {
    float: left;
}

#destroy {
    float: right;
}

#update {
    float: right;
}

.logo {
    width: 3%;
    height: 1%;
}